:root {
    --branding-color: #938eff;
    --secondary-color: #f9f7fe;
    --heading-font-family: 'Bodoni Moda', serif;
    --default-font-family: 'Playfair Display', serif;
}

.hero {
    background: var(--secondary-color);
    background-size: 100%;
    text-align: center;
    padding: 260px 0;
}

.hero p {
    font-family: var(--default-font-family);
    font-size: 36px;
    font-weight: bold;
    margin: 0;    
}
body, html  {
    font-family: var(--default-font-family);
    width: 100%;
    height: 100%;
}

h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-size: 80px;
  font-weight: bold;
}


h2 {
  font-family: var(--default-font-family); 
  font-size: 30px;
  font-weight: normal;
  line-height: 2;
}

h3 {
  font-family: var(--default-font-family); 
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}

p {
  color: black;
  font-weight: normal;
  font-family: var(--default-font-family);
 }

 .navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 25px 30px;
}
.btn-branding-rev {
    background: var(--secondary-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    color: var(--branding-color);
    font-size: 18px;
    line-height: 27px;
    padding: 25px 30px;

}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  background: var(--branding-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: 30px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

/*
font-family: 'Bodoni Moda', serif;
font-family: 'Playfair Display', serif;